.jumbotron {
  height: 150px;
}

.center {
	float: none; margin: 0 auto;
}

.content {
  margin-top: 20px;
}

#content-btn {
  margin-bottom: 2%;
}

.btn-actions > span{
  padding-left: 5px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

.field-nome {
	margin-bottom: 19px;
}

fieldset {
	padding: 10px;       
	border-radius:4px;
	clear: both;
	margin-bottom: -10px;
}	
	
legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 1px solid #ddd;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px; 
	background-color: #ffffff;
}

.name-legend {
	float: left;
}

.glyphicon-plus {
	font-size: 20px;
	color: green;
	margin-left: 10px;
	margin-bottom: 20px;
	
}

.glyphicon {
	cursor: pointer;
}

.error {
	display: block;
	color: red;
}

.table {
	
}

.foto-contato {
	width: 50px;
	height: 50px;
	border: 1px black solid;
	border-radius: 5px;
}

#modal {
	display: none;
}
